# importing libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pickle as pkl
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV, SGDRegressor 
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBRegressor, XGBRFRegressor 
from sklearn.preprocessing import Normalizer
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

#### DecisionTreeRegressor, LogisticRegression, LogisticRegressionCV, SGDRegressor, RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, XGBRegressor, XGBRFRegressor

In [2]:
import warnings
warnings.filterwarnings("ignore")

# Loading data

In [3]:
df = pd.read_excel('Data_Train.xlsx')

In [4]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

# Data Transformation

In [5]:
dummy = df.dropna()
dummy

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

##### Date and time column transformation

In [6]:
dates = pd.to_datetime(dummy.Date_of_Journey)
dates

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10682, dtype: datetime64[ns]

In [7]:
#dummy['start_year']=pd.DatetimeIndex(dates).year
dummy['dep_month']=pd.DatetimeIndex(dates).month
dummy['dep_day']=pd.DatetimeIndex(dates).day
dummy['Date_of_Journey']=dates
dummy

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,dep_month,dep_day
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,4,9
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,4,27
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,4,27
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,3,1
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,5,9

In [8]:
pd.DatetimeIndex(pd.to_datetime(dummy['Arrival_Time'])).hour

Index([ 1, 13,  4, 23, 21, 11, 10,  5, 10, 19,
       ...
        4, 21,  7, 19,  8, 22, 23, 11, 14, 19],
      dtype='int32', name='Arrival_Time', length=10682)

In [9]:
dummy['Dep_hour']=pd.DatetimeIndex(pd.to_datetime(dummy['Dep_Time'])).hour
dummy['Dep_minutes']=pd.DatetimeIndex(pd.to_datetime(dummy['Dep_Time'])).minute
dummy['Arr_hour']=pd.DatetimeIndex(pd.to_datetime(dummy['Arrival_Time'])).hour
dummy['Arr_minutes']=pd.DatetimeIndex(pd.to_datetime(dummy['Arrival_Time'])).minute
dummy.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,dep_month,dep_day,Dep_hour,Dep_minutes,Arr_hour,Arr_minutes
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24,22,20,1,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1,5,50,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9,9,25,4,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12,18,5,23,30
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1,16,50,21,35

In [11]:
dummy.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'dep_month', 'dep_day', 'Dep_hour',
       'Dep_minutes', 'Arr_hour', 'Arr_minutes'],
      dtype='object')

##### Converting duration to minutes

In [12]:
def process_duration(test):
    ans = 0
    for i in test.split(' '):
        if 'h' in i:
            ans+=int(i.split('h')[0]) * 60
        elif 'm' in i:
            ans+=int(i.split('m')[0]) * 1
    return ans

process_duration('2h 30m')

150

In [13]:
dummy['Duration']=dummy['Duration'].apply(process_duration)
dummy

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,dep_month,dep_day,Dep_hour,Dep_minutes,Arr_hour,Arr_minutes
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,170,non-stop,No info,3897,3,24,22,20,1,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,445,2 stops,No info,7662,5,1,5,50,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,1140,2 stops,No info,13882,6,9,9,25,4,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,325,1 stop,No info,6218,5,12,18,5,23,30
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,285,1 stop,No info,13302,3,1,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,150,non-stop,No info,4107,4,9,19,55,22,25
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,155,non-stop,No info,4145,4,27,20,45,23,20
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,180,non-stop,No info,7229,4,27,8,20,11,20
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,160,non-stop,No info,12648,3,1,11,30,14,10
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,500,2 stops,No info,11753,5,9,10,55,19,15

##### Dropping unecessary columns

In [14]:
dummy = dummy.drop(columns=['Date_of_Journey','Route','Dep_Time','Arrival_Time','Additional_Info'])
dummy

,Airline,Source,Destination,Duration,Total_Stops,Price,dep_month,dep_day,Dep_hour,Dep_minutes,Arr_hour,Arr_minutes
0,IndiGo,Banglore,New Delhi,170,non-stop,3897,3,24,22,20,1,10
1,Air India,Kolkata,Banglore,445,2 stops,7662,5,1,5,50,13,15
2,Jet Airways,Delhi,Cochin,1140,2 stops,13882,6,9,9,25,4,25
3,IndiGo,Kolkata,Banglore,325,1 stop,6218,5,12,18,5,23,30
4,IndiGo,Banglore,New Delhi,285,1 stop,13302,3,1,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,150,non-stop,4107,4,9,19,55,22,25
10679,Air India,Kolkata,Banglore,155,non-stop,4145,4,27,20,45,23,20
10680,Jet Airways,Banglore,Delhi,180,non-stop,7229,4,27,8,20,11,20
10681,Vistara,Banglore,New Delhi,160,non-stop,12648,3,1,11,30,14,10
10682,Air India,Delhi,Cochin,500,2 stops,11753,5,9,10,55,19,15

##### Label Encoding

In [15]:
encoders = {}
for i in ['Airline','Source','Destination']:
    le = LabelEncoder()
    dummy[i]=le.fit_transform(dummy[i])
    encoders[i]=le
dummy.head()

,Airline,Source,Destination,Duration,Total_Stops,Price,dep_month,dep_day,Dep_hour,Dep_minutes,Arr_hour,Arr_minutes
0,3,0,5,170,non-stop,3897,3,24,22,20,1,10
1,1,3,0,445,2 stops,7662,5,1,5,50,13,15
2,4,2,1,1140,2 stops,13882,6,9,9,25,4,25
3,3,3,0,325,1 stop,6218,5,12,18,5,23,30
4,3,0,5,285,1 stop,13302,3,1,16,50,21,35

In [16]:
stops = {'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4}
def encode_stops(arr):
    return stops[arr]
dummy['Total_Stops'] = dummy['Total_Stops'].apply(encode_stops)

In [17]:
dummy.head()

,Airline,Source,Destination,Duration,Total_Stops,Price,dep_month,dep_day,Dep_hour,Dep_minutes,Arr_hour,Arr_minutes
0,3,0,5,170,0,3897,3,24,22,20,1,10
1,1,3,0,445,2,7662,5,1,5,50,13,15
2,4,2,1,1140,2,13882,6,9,9,25,4,25
3,3,3,0,325,1,6218,5,12,18,5,23,30
4,3,0,5,285,1,13302,3,1,16,50,21,35

In [18]:
dummy.to_csv('refined.csv')

# Data split

In [19]:
x = dummy.drop(columns='Price')
y = dummy['Price']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(
                                        x,
                                        y,
                                        random_state=1234,test_size = 0.20,
                                        shuffle=True
                                        )
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(8545, 11)
(2137, 11)
(8545,)
(2137,)

# Model building

In [46]:
print('--XGBoost')
xgb = XGBRegressor(random_state=1234) 
xgb.fit(x_train,y_train)
print('Train Score:',xgb.score(x_train,y_train))
print('Test Score:',xgb.score(x_test,y_test))
print()

--XGBoost
Train Score: 0.9388926378159256
Test Score: 0.8314327565174097

In [47]:
xgb.get_params()

{'objective': 'reg:squarederror',
 'base_score': None,
 'booster': None,
 'callbacks': None,
 'colsample_bylevel': None,
 'colsample_bynode': None,
 'colsample_bytree': None,
 'early_stopping_rounds': None,
 'enable_categorical': False,
 'eval_metric': None,
 'feature_types': None,
 'gamma': None,
 'gpu_id': None,
 'grow_policy': None,
 'importance_type': None,
 'interaction_constraints': None,
 'learning_rate': None,
 'max_bin': None,
 'max_cat_threshold': None,
 'max_cat_to_onehot': None,
 'max_delta_step': None,
 'max_depth': None,
 'max_leaves': None,
 'min_child_weight': None,
 'missing': nan,
 'monotone_constraints': None,
 'n_estimators': 100,
 'n_jobs': None,
 'num_parallel_tree': None,
 'predictor': None,
 'random_state': 1234,
 'reg_alpha': None,
 'reg_lambda': None,
 'sampling_method': None,
 'scale_pos_weight': None,
 'subsample': None,
 'tree_method': None,
 'validate_parameters': None,
 'verbosity': None}

In [48]:
print('--XGBoost RF')
xgbrf = XGBRFRegressor(random_state=1234) 
xgbrf.fit(x_train,y_train)
print('Train Score:',xgbrf.score(x_train,y_train))
print('Test Score:',xgbrf.score(x_test,y_test))
print()

--XGBoost RF
Train Score: 0.7721514019874804
Test Score: 0.7319982739221911

In [49]:
xgbrf.get_params()

{'colsample_bynode': 0.8,
 'learning_rate': 1.0,
 'reg_lambda': 1e-05,
 'subsample': 0.8,
 'objective': 'reg:squarederror',
 'base_score': None,
 'booster': None,
 'callbacks': None,
 'colsample_bylevel': None,
 'colsample_bytree': None,
 'early_stopping_rounds': None,
 'enable_categorical': False,
 'eval_metric': None,
 'feature_types': None,
 'gamma': None,
 'gpu_id': None,
 'grow_policy': None,
 'importance_type': None,
 'interaction_constraints': None,
 'max_bin': None,
 'max_cat_threshold': None,
 'max_cat_to_onehot': None,
 'max_delta_step': None,
 'max_depth': None,
 'max_leaves': None,
 'min_child_weight': None,
 'missing': nan,
 'monotone_constraints': None,
 'n_estimators': 100,
 'n_jobs': None,
 'num_parallel_tree': None,
 'predictor': None,
 'random_state': 1234,
 'reg_alpha': None,
 'sampling_method': None,
 'scale_pos_weight': None,
 'tree_method': None,
 'validate_parameters': None,
 'verbosity': None}

# ROC FOR XG BOOST

In [25]:
print('--Random Forest')
rf = RandomForestRegressor(random_state=1234)
rf.fit(x_train,y_train)
print('Train Score:',rf.score(x_train,y_train))
print('Test Score:',rf.score(x_test,y_test))
print()

--Random Forest
Train Score: 0.9535879993762214
Test Score: 0.8084227959750436

In [27]:
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 1234,
 'verbose': 0,
 'warm_start': False}

In [28]:
print('--KNN')
knn = KNeighborsRegressor()
knn.fit(x_train,y_train)
print('Train Score:',knn.score(x_train,y_train))
print('Test Score:',knn.score(x_test,y_test))
print()

--KNN
Train Score: 0.7146757151486439
Test Score: 0.582436866820338

In [29]:
knn.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 5,
 'p': 2,
 'weights': 'uniform'}

In [30]:
print('--SVM Regressor')
svc = svm.SVR()
svc.fit(x_train,y_train)
print('Train Score:',svc.score(x_train,y_train))
print('Test Score:',svc.score(x_test,y_test))
print()

--SVM Regressor
Train Score: 0.1542817096947804
Test Score: 0.17794400055561876

In [31]:
svc.get_params()

{'C': 1.0,
 'cache_size': 200,
 'coef0': 0.0,
 'degree': 3,
 'epsilon': 0.1,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [32]:
print('--Extra Trees Regressor')
etr = ExtraTreesRegressor()
etr.fit(x_train,y_train)
print('Train Score:',etr.score(x_train,y_train))
print('Test Score:',etr.score(x_test,y_test))
print()

--Extra Trees Regressor
Train Score: 0.9717799805015174
Test Score: 0.7708211043223976

In [33]:
etr.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [34]:
print('--Ada boost Regressor')
abr = AdaBoostRegressor()
abr.fit(x_train,y_train)
print('Train Score:',abr.score(x_train,y_train))
print('Test Score:',abr.score(x_test,y_test))
print()

--Ada boost Regressor
Train Score: 0.47326782377403587
Test Score: 0.43052698023838865

In [35]:
abr.get_params()

{'base_estimator': None,
 'learning_rate': 1.0,
 'loss': 'linear',
 'n_estimators': 50,
 'random_state': None}

In [36]:
print('--Decision tree Regressor')
dt = DecisionTreeRegressor()
dt.fit(x_train,y_train)
print('Train Score:',dt.score(x_train,y_train))
print('Test Score:',dt.score(x_test,y_test))
print()

--Decision tree Regressor
Train Score: 0.9717818150899008
Test Score: 0.7042027442996712

In [37]:
dt.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [43]:


from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt

# assume x_train, y_train, x_test, y_test are your data
xgbrf = XGBRFRegressor(random_state=1234)


# predict the probabilities for the test set
probs = xgbrf.predict(x_test)
print(probs)

# calculate the false positive rate and true positive rate for different threshold values
fpr, tpr, thresholds = roc_curve(y_test, probs)

# calculate the area under the curve
roc_auc = auc(fpr, tpr)

# plot the ROC curve
plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], 'k--')  # diagonal line for random guessing
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.show()

NotFittedError: need to call fit or load_model beforehand